header{
    background-color: blue;
    padding: 12px;
    color: white;
    margin: -8px;
    display: flex;
    justify-content: space-between;
    text-indent: 18px;
}

a{
    color: white;
    text-decoration: none;
}

.text{
    display: flex;
    justify-content: center;
    text-indent: 18px;
    font-size: 24px;
}