header{
    background-color: rgb(105, 86, 86);
    padding: 12px;
    color: white;
    margin: -8px;
    display: flex;
    justify-content: space-between;
    text-indent: 18px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-indent: 18px;
    font-size: 24px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .burger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }
  
  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  .menu li {
    margin: 10px;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .burger-menu {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .menu li {
      margin: 10px 0;
    }
  }